h1{
  color: royalblue; 
  text-align: center; }

p{
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif; }

p.notThisOne { 
  color: salmon; }

p#thisOne {
  color: #a1d99b; 
  font-style: italic; }
